body{
  font-family:"Segoe UI Webfont",-apple-system,"Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
  font-size:15px;
  line-height:20px;
  font-weight:400;
  font-size:.9375rem;
  line-height:1.25rem;
  color:#000;
  background-image: url(./2_bc3d32a696895f78c19d.svg);
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-in-box{
  margin-left:auto;
  margin-right:auto;
  position:relative;
  max-width:400px;
  padding:30px;
  margin-bottom:28px;
  background-color:#fff;
  -webkit-box-shadow:0 2px 6px rgba(0,0,0,0.2);
  -moz-box-shadow:0 2px 6px rgba(0,0,0,0.2);
  box-shadow:0 2px 6px rgba(0,0,0,0.2);
  min-width:320px;
  min-height:338px;
  overflow:hidden;
}
.sub-con{
  display: flex;
}
#idBtn_Back{
  margin: 3px;
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
  cursor: pointer;
}
.logo{
  max-width:256px;
  height:24px
}
.sign-title, .pass-title{
  font-weight:550;
  margin:15px 0;
}
.pass-title{
  display: none;
}
.heading{
  font-size: 25px;
  padding: 5px 0;
}
.pass-heading{
  font-size: 18px;
  padding: 5px 0;
}
.subtitle{
  font-size:  15px;
  font-weight:400;
  padding: 5px 0;
  margin-left: 4px;
}
.pagination-view{
  min-height: 206px
}
input[type="email"],input[type="password"]{
  border-color:#5c5c5c;
  padding: 10px;
  border-top-width:0;
  border-left-width:0;
  border-right-width:0;
  padding-left:0;
  font-size: 14px;
}
input[type="email"]:focus,input[type="password"]:focus{
  border-color: #0067b8;
  outline:none;
  box-sizing: none;
  text-decoration:none;
  -ms-transform:scale(.98) ;
  -webkit-transform:scale(.98) ;
  transform:scale(.98) ;
  -moz-transform:scale(.98) ;
  -o-transform:scale(.98) ;
}
input{
  max-width:100%;
  line-height:inherit;
}





.animate{animation-duration:.25s;-webkit-animation-duration:.25s;-moz-animation-duration:.25s;-ms-animation-duration:.25s;-o-animation-duration:.25s;animation-timing-function:cubic-bezier(.5, 0, .5, 1);-webkit-animation-timing-function:cubic-bezier(.5, 0, .5, 1);-moz-animation-timing-function:cubic-bezier(.5, 0, .5, 1);-ms-animation-timing-function:cubic-bezier(.5, 0, .5, 1);-o-animation-timing-function:cubic-bezier(.5, 0, .5, 1);animation-fill-mode:both;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;transition-property:left;-webkit-transition-property:left;-moz-transition-property:left;-ms-transition-property:left;-o-transition-property:left}
.animate.slide-in-next{animation-name:show-from-left;-webkit-animation-name:show-from-left;-moz-animation-name:show-from-left;-ms-animation-name:show-from-left;-o-animation-name:show-from-left}
.row{margin: 10px 0;}
.row:before,.row:after{content:" ";display:table}
.row:after{clear:both}
.form-group{
  margin: 5px 0;
}
.form-group label{margin-top:0;margin-bottom:8px}
.form-control{display:block;width:100%;background-image:none}
.moveOffScreen{display: none;}
.button-container{position:absolute;bottom:30px;right:20px;text-align:right}
.inline-block{display:inline-block}
.button.secondary{display:inline-block;min-width:100px;padding:4px 12px 4px 12px;margin-top:4px;margin-bottom:4px;position:relative;max-width:100%;text-align:center;white-space:nowrap;overflow:hidden;vertical-align:middle;text-overflow:ellipsis;touch-action:manipulation;color:#000;border-style:solid;border-width:2px;border-color:transparent;min-height:32px;border:none;background-color:#ccc;background-color:rgba(0,0,0,0.2);min-width:108px;line-height:normal;margin-top:0;margin-bottom:0;display:block;width:100%}
.button.secondary:hover{background-color:#b2b2b2;background-color:rgba(0,0,0,0.3)}
.button.secondary:focus{background-color:#b2b2b2;background-color:rgba(0,0,0,0.3);text-decoration:underline;}
.button.secondary:active{outline:none;text-decoration:none;-ms-transform:scale(.98);-webkit-transform:scale(.98);transform:scale(.98)}
.button.primary{color:#fff;border-color:#0067b8;background-color:#0067b8;display:block;width:100%}
.button.primary:hover{background-color:#005da6}
.button.primary:focus{background-color:#005da6;text-decoration:underline;outline:2px solid #000}
.button.primary:active{outline:none;text-decoration:none;-ms-transform:scale(.98);-webkit-transform:scale(.98);transform:scale(.98)}
input[type='submit'],input[type='button']{min-height:32px;border:none;background-color:#ccc;background-color:rgba(0,0,0,0.2);min-width:108px;line-height:normal}
input[type="submit"]:hover{background-color:#b2b2b2;background-color:rgba(0,0,0,0.3)}
input[type="button"]:focus,input[type="submit"]:focus{background-color:#b2b2b2;background-color:rgba(0,0,0,0.3);text-decoration:underline;}
.btn.btn-primary,button.btn-primary,input[type="button"]
.btn-primary,input[type="submit"].btn-primary,input[type="reset"]
.btn-primary{border-color:#0067b8;background-color:#0067b8}

a{background-color:transparent}a:active,a:hover{outline:0}
a{color:#ccc;text-decoration:none}a:link{color:#0067b8}a:visited{color:#0067b8}a:hover{color:#666}a:focus{color:#0067b8}a:active{color:#999}
.footer{position:absolute;left:0;bottom:0;width:100%;overflow:visible;z-index:99;clear:both;min-height:28px}
.footerNode{margin:0;float:right}
.footer-content.footer-item{color:#000;font-size:12px;line-height:28px;white-space:nowrap;display:inline-block;margin-left:8px;margin-right:8px}
.footer-content.footer-item.debug-item{text-decoration:none;letter-spacing:3px;line-height:22px;vertical-align:top;font-size:16px;font-weight:600}
.footer-content.footer-item.has-background,.footer-content.footer-item.debug-item.has-background,.footer-content.footer-item.has-background.background-always-visible,.footer-content.footer-item.debug-item.has-background.background-always-visible{color:#fff}

@media screen and (max-width:450px){
  body{
    background-color: #fff;
    display: block;
  }
  
}





